# xcode noise
build/*
*.pbxuser
*.mode?v3
*.perspectivev3
xcuserdata/

# osx noise
.DS_Store

iOS/TurntableFM/TurntableFM.xcodeproj/project.xcworkspace/xcuserdata/jonconner.xcuserdatad/UserInterfaceState.xcuserstate
